<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="content">
    <h1 class="page-header">КОНТРАГЕНТЫ</h1>
    <table id="contragent-table" class="table table-striped table-bordered dataTable no-footer" width="100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Кол-во пользователей</th>
            <th>Кол-во устройств</th>
            <th>Активный</th>
        </tr>
        </thead>
    </table>
</div>
</body>
</html>