<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/adminContainers.js}"></script>
</head>
<body>

<div id="content">
    <h1 class="page-header">ТИПЫ КОНТЕЙНЕРОВ</h1>
    <button style="margin-bottom: 10px;" type="button" id="createContainerButton" class="btn btn-primary"><span
            class="glyphicon glyphicon-plus"></span>
        Создать
    </button>
    <div class="modal fade" id="createContainerModalDialog" role="dialog" aria-labelledby="createUserLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/admin/containers/create}" modelAttribute="ContainerType" method="post"
                      onsubmit="return validateAllFieldsCreateUserForm();">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="createUserLabe">Создание типа контейнера</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <input name="name" type="text" class="form-control input-cl" placeholder="Название"
                                           required="required"/>
                                </div>
                                <div class="col-md-12">
                                    <textarea name="description" type="text" class="form-control input-cl"
                                              placeholder="Описание" required="required"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <input name="width" type="number" min="0" value="0" step="1"
                                           class="form-control input-cl" placeholder="Ширина" required="required"/>
                                </div>
                                <div class="col-md-12">
                                    <input name="height" type="number" min="0" value="0" step="1"
                                           class="form-control input-cl" placeholder="Высота" required="required"/>
                                </div>
                                <div class="col-md-12">
                                    <input name="lenght" type="number" min="0" value="0" step="1"
                                           class="form-control input-cl" placeholder="Длина" required="required"/>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <table id="containers-table" class="table table-striped table-bordered dataTable no-footer" width="100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Дата создания</th>
            <th>Высота</th>
            <th>Ширина</th>
            <th>Длина</th>
            <th>Кол-во устройств</th>
        </tr>
        </thead>
    </table>
    <div id="div-user-info" style="display:none;">
        <h4 class="page-header">Редактирования пользователя c ID: <span id="currentUserId"
                                                                        data-current-user-id="">777</span> <span
                id="currentUserActiveText">(Активный)</span></h4>
        <div class="container-fluid">
            <div class="col-md-4">
                <form id="currentUserForm">
                    <div class="row">
                        <h5 class="page-header">Общая информация</h5>
                    </div>
                    <div class="row">
                        <input id="currentUserName" type="text" class="form-control input-cl" placeholder="ФИО"/>
                    </div>
                    <div class="row">
                        <input id="currentUserLogin" type="text" class="form-control input-cl" placeholder="Логин"/>
                    </div>
                    <div class="row">
                        <input id="currentUserEmail" type="email" class="form-control input-cl" placeholder="Почта"/>
                    </div>
                    <div class="row">
                        <input id="currentUserComment" type="text" class="form-control input-cl"
                               placeholder="Комментарий"/>
                    </div>
                    <div class="row">
                        <h5 class="page-header">Редактривание ролей</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-7" style="padding: 0px">
                            <input name="role" data-role="ROLE_MANAGER" data-role-alter-name="Менеджер"
                                   id="currentUserManager" text="Менеджер" type="checkbox"
                                   class="custom-checkbox-bootstrap"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7" style="padding: 0px">
                            <input name="role" data-role="ROLE_ADMIN" data-role-alter-name="Администратор"
                                   id="currentUserAdmin" text="Администратор" type="checkbox"
                                   class="custom-checkbox-bootstrap"/>
                        </div>
                    </div>
                </form>

                <div class="row" style="margin-top:5px">
                    <button type="button" id="deleteCurrentUser" class="btn btn-danger">Удалить</button>
                    <button type="button" id="blockedCurrentUser" onclick="ajaxSetActiveCurrentUser(false)"
                            class="btn btn-warning">Заблокировать
                    </button>
                    <button type="button" id="activeCurrentUser" onclick="ajaxSetActiveCurrentUser(true)"
                            class="btn btn-warning">Активировать
                    </button>
                    <button type="button" onclick="saveCurrentUserInfo()" class="btn btn-success">Сохранить</button>
                </div>
            </div>
            <div class="col-md-1">

            </div>

            <div class="col-md-7">
                <div class="row">
                    <h5 class="page-header">Устройства пользователя</h5>
                </div>
                <div class="row">
                    <table id="device-to-users-map-table"
                           class="table table-striped table-bordered dataTable no-footer">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Название</th>
                            <th>Комментарий</th>
                            <th>Доступен пользователю</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteUserModaDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Удаление пользователя</h4>
                    </div>
                    <div class="modal-body">
                        <h6 class="modal-title">Вы действительно хотите удалить пользователя?</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="submit" onclick="ajaxDeleteCurrentUser()" class="btn btn-primary">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>