<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="navigator" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse">
            <a class="navbar-brand" th:href="@{/}">Контейнеры</a>
            <ul class="nav navbar-nav">
                <li th:classappend="${pageType} == 'home' ? active"><a th:href="@{/}">Домашнаяя страница</a></li>
                <li><a>О нас</a></li>
                <li><a>Контакты</a></li>
            </ul>
            <form th:if="${T(ru.uskov.dmitry.common.Common).currentUser} == null and ${disableLoginHeader}==null"
                  class="navbar-form navbar-right" role="form"
                  th:action="@{/j_spring_security_check}" method="post">
                <div class="form-group">
                    <input type="text" placeholder="Логин" name="username" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Пароль" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Войти</button>
            </form>
            <ul th:if="${T(ru.uskov.dmitry.common.Common).currentUser} != null " class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Меню<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/profile}">Страница профиля</a></li>
                        <li th:if="${T(ru.uskov.dmitry.common.Common).currentUserAdmin || T(ru.uskov.dmitry.common.Common).currentUserManager}">
                            <a th:href="@{/admin}">Администрирование</a>
                        </li>
                        <li><a th:href="@{/containers}">Библиотека контейнеров</a>
                        <li><a th:href="@{/monitor}">Отслеживание</a>
                        <li><a th:href="@{/devices}">Устройства</a>
                        </li>
                        <li class="divider"></li>
                        <li><a th:href="@{/logout}">Выход</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</div>

<div id="admin-menu" class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <!--<li><a th:href="@{/admin/service/contragents}">Контрагенты</a></li>-->
        <li th:if="${T(ru.uskov.dmitry.common.Common).currentUserAdmin}"><a th:href="@{/admin/settings}">Настройки
            сервиса</a>
        </li>
        <li th:if="${T(ru.uskov.dmitry.common.Common).currentUserAdmin}"><a th:href="@{/admin/users}">Пользователи</a>
        </li>
        <li th:if="${T(ru.uskov.dmitry.common.Common).currentUserManager}"><a th:href="@{/admin/devices}">Устройства</a>
        </li>
        <li th:if="${T(ru.uskov.dmitry.common.Common).currentUserManager}"><a th:href="@{/admin/containers}">Типы
            контейнеров (alpha)</a>
        </li>
    </ul>
    <!--    <ul class="nav nav-sidebar">
            <li><a th:href="@{/admin/contragents/users}">Пользователи</a></li>
            <li><a th:href="@{/admin/contragents/devices}">Устройства</a></li>
        </ul>-->
</div>


<footer>
    <p>© Company 2017</p>
</footer>


</body>
</html>