<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="">-->

    <title>Домашнаяя страница</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/signin.css}" rel="stylesheet">

</head>

<body style="background-color: #ffffff">

<object th:replace="fragments/common :: #navigator"/>
<div>
    <div class="jumbotron">
        <div class="container">
            <h1>Junk Care! v0.3</h1>
            <p>Сервис по отслеживанию состояния наполниности мусорных контенеров</p>
            <!--<p><a class="btn btn-primary btn-lg" role="button">Learn more »</a></p>-->
        </div>
    </div>

    <div class="container" th:if="${T(ru.uskov.dmitry.common.Common).currentUser} != null">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4"
                 th:if="${T(ru.uskov.dmitry.common.Common).currentUserAdmin || T(ru.uskov.dmitry.common.Common).currentUserManager}">
                <h2>Администрирование</h2>
                <p>Настройки серввиса, редактрирование информации о пользвателях, редактриование информации о конейнерах
                    и датчиках</p>
                <p><a class="btn btn-default" th:href="@{/admin}" role="button">Перейти»</a></p>
            </div>
            <div class="col-md-4">
                <h2>Состояние контейнеров</h2>
                <p>Отслеживание состояния контейнеров в режиме реального времени</p>
                <p><a class="btn btn-default" th:href="@{/monitor}" role="button">Перейти»</a></p>
            </div>
            <div class="col-md-4">
                <h2>Построение маршрутов</h2>
                <p>Построение маршрутов между контенерами на карте местности</p>
                <p><a class="btn btn-default" th:href="@{/devices}" role="button">Перейти»</a></p>
            </div>
        </div>

        <hr>
    </div>


    <div th:if="${T(ru.uskov.dmitry.common.Common).currentUser} == null">

        <form class="form-signin" style="padding-top: 30px" role="form" th:action="@{/j_spring_security_check}"
              method="post">
            <h2 class="form-signin-heading">Вход</h2>
            <input type="text" name="username" class="form-control" placeholder="Логин" required="required"
                   autofocus="autofocus">
            <input type="password" name="password" class="form-control" placeholder="Пароль" required="required">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        </form>

    </div>


    <object th:replace="fragments/common :: footer"/>

</div>

</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/bootstrap/js/jquery-3.2.0.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>